# Python
dist
*.egg-info
*.so
__pycache__

# Pycharm
.idea/

# VScode
.vscode/
.vscode/*
**/.vscode/*
!.vscode/extensions.json

# General
_build/
.sass-cache
_posts
_site

# saved
run/saved/*
!run/saved/YOPO_1
run/yopo_trt.pth
externals/

#logs
run/utils/*.csv

# dataset
/run/yopo_sim/*
/run/rknn_quantization/*

